%h1
  = link_to "\"#{tweak.name}\"", title_tweak_path(@title, tweak)

%ul.list-group
  - tweak.descriptions.order(downvotes: :asc, upvotes: :desc).each do |description|
    %li.list-group-item
      .btn-group.btn-group
        = link_to title_tweak_description_upvote_path(@title, tweak, description), remote: true, method: :put do
          %button.btn.btn-success.btn-sm{:type => "button"} 
            = description.upvotes
            %i.fa.fa-thumbs-up

        =link_to title_tweak_description_downvote_path(@title, tweak, description), remote: true, method: :put do
          %button.btn.btn-danger.btn-sm{:type => "button"}
            = description.downvotes
            %i.fa.fa-thumbs-down

      %h4
        = description.text
      \- #{description.creator}

  %li.list-group-item
    = form_for :description, url: title_tweak_descriptions_path(@title, tweak), remote: true, method: :post do |f|
      .row
        .col-md-4
          = f.text_area :text, value: nil, placeholder: "Describe '#{tweak.name}'", rows: 3, class: 'form-control'
          %br
          %br
      .row
        .col-md-4
          = f.text_field :creator, value: nil, placeholder: 'Your name', class: 'form-control'
        .col-md-8
          = f.submit 'Save', class: 'btn btn-sm btn-primary'