%div{style: 'max-width:680px;margin:auto; border: 1px solid #696969;padding: 10px 20px;'}
  = image_tag 'title.png', style: 'margin: auto;display: block;'

  %p
    %strong GREETINGS!
  %p
    IT'S TIME TO KICK BACK AND MAKE A
    %strong WIT-STOP!
  %p
    HERE'S A CHUCKLE FOR YOU, FRESH OUT OF OUR LETTERLOOSE "CLEVEREST-TWEAK-OF-THE-DAY" FILE.

  .panel
    .panel-body
      %div
        %p
          %h4
            = @title

        %h5{margin: '0px'}
          %div= @tweak

        = "\"#{@description}\""

        = @upvote_count

        %br
        %small.small.text-muted
          = @author

  %p FEELING BETTER?  NOW, GO BACK AND... LETTERLOOSE!
  %p
    
    See you tomorrow,
    %br
    The Gang at LetterLoose

