%div
  %p
    %h4
      = description.tweak.title.name

  %h5{margin: '0px'}
    %div= link_to description.tweak.name, title_tweak_path(description.tweak.title, description.tweak)

  = "\"#{description.text}\""

  = link_to title_tweak_description_upvote_path(description.tweak.title, description.tweak, description, source: 'index'), remote: true, method: :put do
    = description.upvotes
    %i.fa.fa-thumbs-up

  %br
  %small.small.text-muted
    = "#{description.user.username} - #{time_ago_in_words(description.created_at)} ago"