%div
  = link_to title_tweak_description_upvote_path(description.tweak.title, description.tweak, description, source: 'index'), remote: true, method: :put do
    = description.upvotes
    %i.fa.fa-thumbs-up
  %small.small.text-muted
  = "(#{description.user.username})"
  %br
  = "\"#{description.text}\""
%h5{margin: '0px'}
  %div= link_to description.tweak.name, title_tweak_path(description.tweak.title, description.tweak)
%small.small.text-muted
  = description.tweak.title.name