%li.list-group-item.list-group-striped
  %h4
    = tweak.name
  %ul.list-group
    - tweak.descriptions.each do |description|
      %li.list-group-item
        = description.upvotes
        = link_to title_tweak_description_upvote_path(@title, tweak, description), method: :put do
          %i.fa.fa-thumbs-up
        |
        = description.downvotes
        = link_to title_tweak_description_downvote_path(@title, tweak, description), method: :put do
          %i.fa.fa-thumbs-down
        = description.text
    %li.list-group-item
      = form_for :description, url: title_tweak_descriptions_path(@title, tweak), method: :post do |f|
        .row
          .col-md-4
            = f.text_field :text, placeholder: "Describe '#{tweak.name}'", class: 'form-control'
          .col-md-4
            = f.submit 'Save', class: 'btn btn-sm btn-primary'