= form_tag title_tweaks_path(@title), method: :post do
  .row  
    .col-md-12
      #draggable-tweak-characters
        - @title.name.chars.each do |char|
          .tweak-character
            = char.titleize.gsub(' ', '&nbsp').html_safe
            = hidden_field_tag "characters[]", char.titleize

  .row.remove-characters-container
    .col-xs-8.col-md-6
      .remove-character#remove-character
        %i.fa.fa-trash
        Drag letters here to remove them
  .row
    .col-md-12  
      = submit_tag 'Submit Your Tweak', class: 'btn btn-primary pull-right'
      %div.btn.btn-default.pull-right{data: {toggle: "collapse", target:"#alphabet-container"}, style: 'margin-right :5px;'}
        Add Letters

#alphabet-container.collapse
  .well
    .row
      .col-md-12
        %h4
          Click a letter or space to add to your tweaq!
        %hr
    .row
      .col-md-12
        - Alphabet::LETTERS.each do |char|
          .tweak-character.clickable
            = char.html_safe
            = hidden_field_tag "characters[]", char.gsub('&nbsp', ' ')

    