= form_tag title_tweaks_path(@title), method: :post do
  .row
    .col-md-12
      #draggable-tweak-characters
        - @title.name.chars.each do |char|
          .tweak-character.clickable
            = char.titleize.gsub(' ', '&nbsp').html_safe
            = hidden_field_tag "characters[]", char.titleize

    .col-md-12.form-group
      .text-muted click a letter to remove it

    .col-md-8
      = text_area_tag 'description', nil , placeholder: 'Description', class: 'form-control', rows: 5
  .row
    .col-md-12
      = link_to 'Reset', title_path(@title), class: 'btn btn-default hidden reset-button pull-right'
      = submit_tag 'Submit Your Tweak', class: 'btn btn-primary pull-right disabled submit-tweak'


      / %div.btn.btn-default.pull-right{data: {toggle: "collapse", target:"#alphabet-container"}, style: 'margin-right :5px;'}
      /   Add Letters

/ #alphabet-container.collapse
/   .well
/     .row
/       .col-md-12
/         %h4
/           Click a letter or space to add to your tweaq!
/         %hr
/     .row
/       .col-md-12
/         - Alphabet::LETTERS.each do |char|
/           .tweak-character.clickable
/             = char.html_safe
/             = hidden_field_tag "characters[]", char.gsub('&nbsp', ' ')


