= form_tag title_tweaks_path(@title), method: :post do
  
  .row  
    .col-md-12
      #draggable-tweak-characters
        - @title.name.chars.each do |char|
          .tweak-character
            = char.titleize.gsub(' ', '__')
            = hidden_field_tag "characters[]", char.titleize

      .add-new-character{data: {toggle: "collapse", target:"#alphabet-container"}}
        +
  .row.form-group
    .col-md-12
      = submit_tag 'Submit Your Tweak', class: 'btn btn-primary pull-right'


#alphabet-container.collapse
  .well
    .row
      .col-md-12
        - Alphabet::LETTERS.each do |char|
          .tweak-character.clickable
            = char
            = hidden_field_tag "characters[]", char.gsub('__', ' ')

    .row
      .col-md-12
        %hr
        %h4
          Click a letter or "__" (space) to add to your word