= link_to "< Back to #{@title.category.name}", category_path(@title.category)
%h4
  =@title.name

.panel.panel-default
  .panel-body
    = render partial: 'titles/tweak_builder'

.row
  .col-md-12
    %ul.list-group
      - @tweaks.each do |tweak|
        %li.list-group-item.list-group-striped{id: dom_id(tweak)}
          %h5
            = link_to "\"#{tweak.name}\"", title_tweak_path(@title, tweak)
          %small

            = "#{time_ago_in_words(tweak.created_at)} ago by #{tweak.user.username}"
      - if @title.tweaks.empty?
        %h4
          Not that funny? Rearrange the letters above, and click "Submit your Tweak" to get started


= javascript_include_tag 'tweak_builder'
