.row
  .col-md-12
    %p
      %strong LETTERLOOSE IS A GAME FOR PEOPLE WHO LIKE WORDS, WIT, AND LAUGHTER.
      %br
      The premise of the game is that you alter a film, book, or song title, or a common phrase, by adding or subtracting 
      %strong ONE 
      letter. Now you've created a new title or phrase simply by changing one letter.
    %p
      The challenge is to construct a clever definition for what you've just created.
      %br
      %br
      %strong For example:
      %ol
        %li Big Lebowski.
        %li Delete the 'g'.
        %li Bi Lebowski.
      %strong New definition:
      Polish immigrant struggles with his sexuality
  .col-md-4.col-md-offset-4.form-group
    = link_to play_random_path, class: 'btn btn-primary btn-lg btn-block' do
      Give it a try

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = render partial: 'titles/search'
        %br
        - @categories.each do |category|
          .category-link
            = link_to category.name, category_path(category)
.row
  .col-md-12
    %h4
      Highest Rated Definitions
.row.row-flex.row-flex-wrap
  - @recent_descriptions.each do |description|
    .col-md-4
      .panel.panel-default
        .panel-body
          %div
            = description.upvotes
            %i.fa.fa-thumbs-up
            %small.small.text-muted
            = "(#{description.user.username})"
            %br
            = "\"#{description.text}\""
          %h5{margin: '0px'}
            %div= link_to description.tweak.name, title_tweak_path(description.tweak.title, description.tweak)
          %small.small.text-muted
            = description.tweak.title.name
          =# "#{time_ago_in_words(tweak.created_at)} ago - #{tweak.user.username} "


  - if @recent_descriptions.empty?
    None? You're funnier than that!