.row
  .col-md-12
    %h2
      Search All Titles
    .panel.panel-default
      .panel-body
        = render partial: 'titles/search'
.row
  .col-md-12
    %h2
      Recent Tweaks

  - @recent_tweaks.each do |tweak|
    .col-md-4
      .panel.panel-default
        .panel-body
          %strike= tweak.title.name
          %h4
            = link_to tweak.name, title_tweak_path(tweak.title, tweak)
          %small.small.text-muted
            .pull-left
              = pluralize(tweak.descriptions.length, 'description')
            .pull-right.text-right
              = "#{time_ago_in_words(tweak.created_at)} ago "
              %br
              = "- #{tweak.user.username}"

  - if @recent_tweaks.empty?
    None? You're funnier than that!

.row
  .col-md-12
    %h2 Play By Category
  - @categories.each do |category|
    .col-md-3
      .panel.panel-default
        .panel-body
          %h4.card-title.text-center= category.name
          = link_to "LetterLoose!", category_path(category), class: 'btn btn-primary btn-block'