.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = render partial: 'titles/search'
        %hr
        %h4 Play By Category
        - @categories.each do |category|
          .category-link
            = link_to category.name, category_path(category)
.row
  .col-md-12
    %h2
      Recent Tweaks

  - @recent_tweaks.each do |tweak|
    .col-md-4
      .panel.panel-default
        .panel-body
          %h4{margin: '0px'}
            = link_to title_path(tweak.title) do
              %strike= tweak.title.name
        
          %div= link_to tweak.name, title_tweak_path(tweak.title, tweak)
          %small.small.text-muted
            = "#{time_ago_in_words(tweak.created_at)} ago - #{tweak.user.username} "


  - if @recent_tweaks.empty?
    None? You're funnier than that!