.row
  .col-md-12
    %p
      %strong LetterLoose is a game for people who like words and laughing.  
      The premise of the game is that you alter a film, book or song title, or a common phrase,  by adding or subtracting 
      %strong ONE 
      letter. You've thus created a new title with one adulterated word.  
    %p
      %u The game is to make up a new clever definition for the title you've just created. 
      %br
      %br
      %strong For example:
      %ol
        %li Big Lebowski.  
        %li Delete the 'g'.  
        %li Bi Lebowski. 
      %strong New definition: 
      Polish immigrant struggles with his sexuality

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = render partial: 'titles/search'
        %br
        - @categories.each do |category|
          .category-link
            = link_to category.name, category_path(category)
.row
  .col-md-12
    %h4
      Recent Tweaks
.row.row-flex.row-flex-wrap
  - @recent_tweaks.each do |tweak|
    .col-md-4
      .panel.panel-default
        .panel-body
          %strike.text-muted= tweak.title.name
          %h5{margin: '0px'}
            %div= link_to tweak.name, title_tweak_path(tweak.title, tweak)
          %p.small= "\"#{tweak.descriptions.first.text}\""
          %small.small.text-muted
            = "#{time_ago_in_words(tweak.created_at)} ago - #{tweak.user.username} "


  - if @recent_tweaks.empty?
    None? You're funnier than that!