= link_to '< Back to Start', root_path
%br

%ul.list-group
  - @titles.each do |title|
    %li.list-group-item
      =link_to title_path(title) do
        = title.name

= paginate @titles

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Add your Own
      .panel-body
        = form_for :title, url: titles_path, method: :post do |f|
          .form-group
            = f.hidden_field :category_id, value: @category.id
            = f.text_field :name, class: 'form-control', placeholder: 'e.g., Game of Thrones'

          = f.submit 'Save Title', class: 'btn btn-success btn-sm'
