!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => image_url('facebook_logo.png'), :name => "og:image"}/
    %meta{:content => "image/png", :property => "og:image:type"}/
    %meta{:content => "400", :property => "og:image:width"}/
    %meta{:content => "400", :property => "og:image:height"}/
    %meta{:content => "article", :name => "og:type"}/
    %meta{:content => "LetterLoose", :name => "og:site_name"}/
    %meta{:content => "http://www.letterloose.com", :name => "og:url"}/
    = content_for?(:og_tags) ? yield(:og_tags) : ''

    %title= content_for?(:title) ? yield(:title) : "LetterLoose"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          = link_to root_path, class: 'navbar-brand', style: 'max-width: 460px;' do
            = image_tag 'title.png', style: 'max-width: 100%;margin-top: -6px;'
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %span.glyphicon.glyphicon-user
                  = current_user.username
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to "My Tweaks", user_descriptions_path(current_user)
                  %li.divider{:role => "separator"}
                  %li
                    = link_to 'My Account', user_email_preferences_path(current_user)
                  %li.divider{:role => "separator"}
                  %li
                    = link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to new_registration_path('user') do
                  %span.glyphicon.glyphicon-user
                  Sign Up
              %li
                = link_to new_session_path('user') do
                  %span.glyphicon.glyphicon-log-in
                  Login
    .container
      .row
        .col-lg-12
          .flash-container
            = bootstrap_flash
          = yield

    = render partial: 'shared/google_analytics'
    #fb-root

